<h1>Songs</h1>

<% @songs.each do |song| %>
    <p><%= link_to song.name, song_path(song.id) %></p>
<% end %>
<br />
<br />
<%= link_to "New Song", new_song_path %><br />
<%= link_to "Genres", genres_path %><br />
<%= link_to "Artist", artists_path %>